.FilterContainer {
    padding: 20px;
    max-width: 480px;
  }
  
  .FilterInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
  }
  